body {
  background: rgba(63, 167, 115, 0.644);
}

.description, .title {
  color: darkblue;
}

.title {
  font-weight: bold;
}

img {
  margin-top: 10px;
}

.collection {
  margin-bottom: 20px;
  /* border: darkblue; */
  border-color: dimgray;
  border-width: 1px;
  box-shadow: 10px 10px 10px teal;
}