body, html {
  /*/font-family: "Open Sans Bold";*/
  height: 100%;
}

.tiledBackground {
  background: #6ea8bb; /* Old browsers */
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

#timeline .container ul {
  margin: 0;
  list-style: none;
  position: relative;
  padding: 4px 40px;
  color: black;
  font-size: 14px;
}
#timeline .container ul:before {
  content: "";
  width: 10px;
  height: 90%;
  position: absolute;
  border-left: 2px dashed #696969;
}
#timeline .container ul li {
  position: relative;
  margin-left: 30px;
  background-color: #cce4f5;
  padding: 14px;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 0 4px #696969, 0 2px 2px rgba(0, 0, 0, 0.08);
}
#timeline .container ul li:not(:first-child) {
  margin-top: 60px;
}
#timeline .container ul li > span {
  width: 3px;
  height: 100%;
  background: #696969;
  left: -30px;
  top: 0;
  position: absolute;
}
#timeline .container ul li > span:before, .container ul li > span:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #696969;
  position: absolute;
  background: #86b7e7;
  left: -5px;
  top: 0;
}
#timeline .container ul li span:after {
  top: 100%;
}
#timeline .container ul li > div {
  margin-left: 10px;
}
#timeline .container div .title, .container div .type {
  font-weight: 600;
  font-size: 18px;
}
#timeline .container div .info {
  font-weight: 300;
  font-size: 16px;
}
#timeline .container div > div {
  margin-top: 5px;
}
#timeline .container span.number {
  height: 100%;
}
#timeline .container span.number span {
  position: absolute;
  font-size: 14px;
  left: -40px;
  font-weight: bold;
  color: white;
}
#timeline .container span.number span:first-child {
  top: 0;
}
#timeline .container span.number span:last-child {
  top: 100%;
}
