body, html {
  font-family: "Open Sans";
}

nav ul {
  font-weight: 300px;
}

#about_me_section {
  margin-bottom: 0em;
}

#about_me_paragraph {
  text-align: left;
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  color: #00264d;
}

#about_me_image {
  border-radius: 15px; 
  border-width: medium; 
  border-color: black; 
  margin: 0.7em 0 0.6em 20px;
}

.card-panel{
  //color: #500e0e9c;
  background-color: rgba(132, 29, 33, 0.5);
  opacity: 20%;
  font-size: 20px;
  border-radius: 5px;
}

.card-panel>p>a{
  color: #90EE90;
  text-decoration: underline;
}
