body {
  background-color: #e3f2fd;
}


.project-description {
  font-size: 20px;
  font-weight: 300;
  line-height: 2;
}

.container {
  font-family: "Open Sans";
}

.card.medium {
  height: auto;
}

.material-icons {
  padding-bottom: 0;
  margin-bottom: 0;
  padding-right: 5px;
}