body, html {
  font-family: "Open Sans";
}

nav ul {
  font-weight: 300px;
}

#about_me_section {
  margin-bottom: 0em;
}

#about_me_paragraph {
  text-align: left;
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  color: #00264d;
}
