  {% extends "skeleton.html" %}

  {% block title %}Bouncy Ball{% endblock %}

  {% block customCSS %}
    <link href="../static/css/bouncyball.css" rel="stylesheet">
  {% endblock %}

  {% block customJS %}
    <!-- Import the js file for custom animations associated to this page. -->
    <script src="../static/js/bouncyball.js"></script>
  {% endblock %}

  {% block mainBody %}
    <div class="container">
      <canvas id="gameCanvas" width="800" height="600"></canvas>
      <script src="/static/js/breakout.js"></script>
      <p class="center" style="font-size: 18px; font-weight: 300;">Click anywhere on the canvas!</p>

    </div>
  {% endblock %}