  {% extends "skeleton.html" %}

  {% block title %}Bouncy Ball{% endblock %}

  {% block customCSS %}
    <link href="../static/css/bouncyball.css" rel="stylesheet">
  {% endblock %}

  {% block customJS %}
    <!-- Import the js file for custom animations associated to this page. -->
    <script src="../static/js/bouncyball.js"></script>
  {% endblock %}

  {% block mainBody %}
    <div class="container">
      <canvas id="gameCanvas" width="800" height="600"></canvas>
      <script src="/static/js/breakout.js"></script>
      <p class="center" style="font-size: 18px; font-weight: 300;">Click anywhere on the canvas!</p>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">code</i>Want to see the code snippet for bouncing ball in JS? Click here.</div>
          <div class="collapsible-body">
            <script src="https://gist.github.com/prudentprogrammer/417880c16f947437caac68c930f8d666.js"></script> 
          </div>
        </li>
      </ul>
    </div>
  {% endblock %}