  {% extends "skeleton.html" %}

  {% block title %}Experience{% endblock %}
  {% block customCSS %}
    <link href="../static/css/experience.css" rel="stylesheet">
  {% endblock %}

  {% block customJS %}
    <!-- Import the js file for custom animations associated to this page. -->
    <script src="../static/js/experience.js"></script>
  {% endblock %}

  {% block mainBody %}
      <div class="tiledBackground">
        <div id="introduction" class="container section center small">
            <h2 class="white-text"><i class="small material-icons" style="padding-right:0.5em; font-family: Open-Sans; font-style: italic;">history</i>Work Experience</h2>
        </div>

        <div id="timeline">
          <div class="container">
            <ul>
              <li>
                <div>
                  <div class="title">iOS Developer, Bank of America</div>
                  <div class="info">
                      Implemented user design interfaces for the main mobile application that was used by 25 million end users.
                      Optimized the app’s space by 14-15% by removing unnecessary assets.
                      Actively contributed to the improvement of app through regression testing, bug xes, and performance enhancements.
                  </div>

                </div> <span class="number"><span>April 2017</span> <span>Present</span></span>
              </li>
              <li>
                <div><span></span>
                  <div class="title">Data Analyst / Student Programmer</div>
                  <div class="info">• Developed and tested Python scripts to extract and process large amounts of transportation data.
                      • Performed data analytics on the outputs and produced professional reports.</div>
                </div> <span class="number"><span>June 2014</span><span>June 2015</span></span>
              </li>
              <li>
                <div class="grey-text text-darken-4"><span></span>
                  <div class="title grey-text text-darken-4">Android Application Developer Intern, The Creative App Company</div>
                  <div class="info">• Implemented a professional application on the Android platform using Java and XML in 3 months.
                      • Actively interacted with a team of five people to successfully develop the product.</div>
                </div> <span class="number"><span>Apr 2013</span><span>Jun 2013</span></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
  {% endblock %}
