  {% extends "menu_bar.html" %}

  {% block customJS %}
    <!-- Import the js file for custom animations associated to this page. -->
    <script src=" {{ url_for('static', filename='index.js') }}"></script>
  {% endblock %}

  {% block mainBody %}
    <div class="parallax-container">
      <div class="parallax">
        <img src="{{ url_for('static', filename='cup_of_coffee.jpg') }}">
        <p>Life Enthusiast</p>
      </div>
    </div>

    <div class="container-wide about center blue-grey lighten-4">
      <div class="row" style="margin-bottom: 0em;">
        <!-- First Row -->
        <div class="col s12 m4 l4">
          <img src="https://raw.githubusercontent.com/prudentprogrammer/prudentprogrammer.github.io/master/images/profile.png" class="responsive-img" style="border-radius: 15px; border-width: medium; border-color: black; margin-top: 0.7em; margin-bottom: 0.6em;"/>
        </div>

        <!-- First Row -->
        <div class="col s12 m7 l7">
          <h3 class="center">About Me</h3>
          <p style="display:block; text-align: left; font-size:24px; color: #00264d;font-family: "Open-Sans";">{{description}}</p>
        </div>

      </div>
    </div>

  {% endblock %}

  {% block currenttime %}
    {{ currentDate }}
  {% endblock %}
