  {% extends "skeleton.html" %}

  {% block title %}Main Page{% endblock %}

  {% block customCSS %}
    <link href="../static/css/index.css" rel="stylesheet">
  {% endblock %}

  {% block customJS %}
    <!-- Import the js file for custom animations associated to this page. -->
    <script src="../static/js/index.js"></script>
  {% endblock %}

  {% block mainBody %}
    <div class="parallax-container valign-wrapper">
        <div class="container center">
            <div class="card-panel" >
              <p class="white-text">
                Hey there! :) Welcome to my website! Feel free to browse around here. There are a lot of cool stuff but if you want to know more about me at 2x speed, you can check out my <a href="../static/assets/arjun_bharadwaj_resume.pdf">Resume</a> as well as my <a href="/projects">Projects.</a>
              </p>
            </div>
        </div>
      <div class="parallax"><img src="../static/assets/cup_of_coffee.jpg"></div>
    </div>

    <div class="container-wide center blue-grey lighten-4">
      <div class="row" id="about_me_section">
        <!-- First Row: Profile Picture -->
        <div class="col s12 m3 l3">
          <img src="https://avatars2.githubusercontent.com/u/3999882?s=300&u=2ee1024804a8f686f5877721f1608e1354ed10e3&v=4" class="responsive-img" id="about_me_image" />
        </div>

        <!-- Second Row: About Me Paragraph -->
        <div class="col s12 m8 l8">
          <h3 class="center">About Me</h3>
          <p id="about_me_paragraph">Hi! I'm a software developer at Amazon. I make mobile apps and have created some web apps in the past as well. I primarily work a lot with Objective-C/Swift, Python, and occasionally JavaScript.
            I love creating apps that help the society and enrich the quality of their lives in areas such as health, music, and productivity. 
            <!-- Currently, I'm exploring the Flutter framework (in my recreational time) and am excited to uncover the possibilities it can bring in the mobile space. -->
            In addition, I have acquired some skills in Data Science and Data Engineering through my previous internships at UC Davis and Altice. I love learning about new technologies and the possibilities which can be uncovered by them. Oh also, interesting algorithmic problems always excite me! 😄</p>
        </div>
      </div>
    </div>
  {% endblock %}
