<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Arjun Bharadwaj's Webpage">
    <meta name="keywords" content="Arjun, Bharadwaj,prudentprogrammer">
    <meta name="author" content="Arjun Bharadwaj">
    <title>Arjun's Personal Website</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

    <!-- Personalize the web page -->
    <!--<link rel="stylesheet" href="css/index.css">-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    {% block customJS %}
    {% endblock %}
    <nav>
      <div class="nav-wrapper blue-grey darken-4">
        <a href="#!" class="brand-logo" style="margin-left: 0.5em;">Home</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          {% for tab in ['Experience', 'Projects', 'Education', 'Resume', 'Skills', 'Contact'] %}
            <li><a href={{ tab.lower() + '.html'}}>{{tab}}</a></li>
          {% endfor %}
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      {% for tab in ['Experience', 'Projects', 'Education', 'Resume', 'Skills', 'Contact'] %}
        <li><a href={{ tab.lower() + '.html'}}>{{tab}}</a></li>
      {% endfor %}
    </ul>

    {% block mainBody %}
    {% endblock %}

  </body>
</html>
